@model Habib_Chemical_Software.Company

@{
    ViewBag.Title = "Create New Company";
}

<h2>Create New Company</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-5">
            <h3>Company Details</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.company_type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<select id="company_type" name="company_type" required class="form-control">
                        <option value="Garments" selected = "selected">Garments </option>
                        <option value="Washing">Washing </option>
                    </select>*@
                    @Html.DropDownList("company_type", (IEnumerable<SelectListItem>)ViewBag.CompanyType, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <h3>Contact Details</h3>
            <div class="form-group">
                <div class="input-group">
                    <input type="button" id="addContactTextBoxes" value=" Add More Contact " class="btn btn-success" />
                    <span>    </span>
                    <input type="button" id="removeContactTextBoxes"value="Remove Last Contact" class="btn btn-warning" />
                </div>
            </div>
            <div class="form-group" id="contactGroup1">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input type="text" name="name1" id="name1" class="form-control" />
                    <span class="input-group-addon">Contact</span>
                    <input type="text" name="contact1" id="contact1" class="form-control" />
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
